<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" routerLink="/">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Trang chủ</a>
                </li>
                <li><a class="nav-link" routerLink="/shop">Shop</a></li>
                <li><a class="nav-link" routerLink="/about">Về chúng tôi</a></li>
                <li><a class="nav-link" routerLink="/services">Dịch vụ</a></li>
                <li><a class="nav-link" routerLink="/blog">Tin tức</a></li>
                <li><a class="nav-link" routerLink="/contact">Liên hệ</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" href="#"><img src="./assets/images/user.svg"></a></li>
                <li><a class="nav-link" routerLink="/cart"><img src="./assets/images/cart.svg"></a></li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->