<!-- Start Hero Section -->
<a routerLink="/home"></a>
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Tối giản hiện đại <span clsas="d-block"></span></h1>
                    <p class="mb-4">Tìm kiếm nội thất vừa đẹp mắt,
                        vừa thoải mái để hoàn thiện không gian sống của bạn? Đến với chúng tôi,
                        bạn sẽ tìm thấy những mẫu sofa hiện đại đa dạng về kiểu dáng, màu sắc và chất liệu.
                        Với thiết kế tinh tế và chất lượng cao cấp, sofa của chúng tôi không chỉ là nơi thư giãn tuyệt
                        vời mà còn là điểm nhấn nổi bật cho căn phòng.</p>
                    <p><a href="" class="btn btn-secondary me-2">Mua ngay</a><a href="#"
                            class="btn btn-white-outline">Khám phá ngay</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="./assets/images/couch.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Sản phẩm được chăm chút tỉ mỉ từ những nguyên liệu cao cấp.</h2>
                <p class="mb-4">Chúng tôi tin rằng một sản phẩm tốt không chỉ đẹp mà còn phải bền.
                    Vì vậy, mỗi sản phẩm đều được lựa chọn kỹ càng từ những nguyên liệu cao cấp nhất,
                    đảm bảo chất lượng và độ bền vượt thời gian. Hãy cùng chúng tôi trải nghiệm sự khác biệt! </p>
                <p><a href="shop.html" class="btn">Khám phá ngay</a></p>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="./assets/images/product-1.png" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Ghế Nordic</h3>
                    <strong class="product-price">$50.00</strong>

                    <span class="icon-cross">
                        <img src="./assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="./assets/images/product-2.png" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Ghế Kruzo Aero</h3>
                    <strong class="product-price">$78.00</strong>

                    <span class="icon-cross">
                        <img src="./assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="cart.html">
                    <img src="./assets/images/product-3.png" class="img-fluid product-thumbnail">
                    <h3 class="product-title">Ghế Ergonomic</h3>
                    <strong class="product-price">$43.00</strong>

                    <span class="icon-cross">
                        <img src="./assets/images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <!-- End Column 4 -->

        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Tại sao lại chọn cúng tôi?</h2>
                <p>Trải nghiệm sự thoải mái tuyệt đối với bộ bàn ghế giường cao cấp. Sản phẩm được làm từ chất liệu gỗ
                    tự nhiên, kết hợp với đệm mút cao cấp, mang đến cảm giác êm ái và thư giãn. Thiết kế hiện đại, tinh
                    tế, phù hợp với mọi không gian sống. Chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng

                    tốt nhất và dịch vụ hoàn hảo nhất.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Nhanh chóng &amp; Miễn phí</h3>
                            <p>Dịch vụ giao hàng của chúng tôi sẽ mang sản phẩm đến tận tay trong thời gian ngắn nhất.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Mua hàng dễ dàng</h3>
                            <p> Chỉ cần vài thao tác đơn giản, bạn đã có thể sở hữu sản phẩm yêu thích.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Đội ngũ hỗ trợ khách hàng của chúng tôi luôn sẵn sàng phục vụ bạn mọi lúc, mọi nơi.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hoàn trả dễ dàng</h3>
                            <p>Hoàn trả đơn giản, nhanh chóng. Liên hệ chúng tôi trong vòng 30 ngày để được hỗ trợ.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="./assets/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="./assets/images/img-grid-1.jpg" alt="Untree.co"></div>
                    <div class="grid grid-2"><img src="./assets/images/img-grid-2.jpg" alt="Untree.co"></div>
                    <div class="grid grid-3"><img src="./assets/images/img-grid-3.jpg" alt="Untree.co"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">Chúng tôi đồng hành cùng bạn tạo nên không gian nội thất hiện đại</h2>
                <p>Bạn đang tìm kiếm một không gian sống hiện đại, thể hiện cá tính riêng của mình? Chúng tôi sẽ đồng
                    hành cùng bạn từ khâu lên ý tưởng đến hoàn thiện không gian sống. Với dịch vụ thiết kế nội thất
                    chuyên nghiệp, chúng tôi cam kết mang đến cho bạn một không gian sống hoàn hảo.</p>


                <ul class="list-unstyled custom-list my-4">
                    <li>Thiết kế độc đáo, sáng tạo.</li>
                    <li>Đội ngũ chuyên nghiệp.</li>
                    <li>Vật liệu cao cấp.</li>
                    <li>Dịch vụ trọn gói.</li>
                </ul>
                <p><a herf="#" class="btn">Khám phá ngay</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="./assets/images/product-1.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Ghế Nordic</h3>
                        <p>Ghế Nordic - Sự kết hợp hoàn hảo giữa vẻ đẹp tự nhiên và thiết kế hiện đại </p>
                        <p><a href="#">Tìm hiểu thêm</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="./assets/images/product-2.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Ghế Kruzo Aero</h3>
                        <p>Ghế Kruzo Aero - Trải nghiệm làm việc thoải mái và đẳng cấp </p>
                        <p><a href="#">Tìm hiểu thêm</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="./assets/images/product-3.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Ghế Ergonomic</h3>
                        <p>Ghế Ergonomic - Đầu tư cho sức khỏe của bạn</p>
                        <p><a href="#">Tìm hiểu thêm</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Làm hài lòng khách hàng là sứ mệnh</h2>
                <p>Chúng tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu. Vì vậy, chúng tôi luôn nỗ lực không ngừng
                    để mang đến những sản phẩm/dịch vụ chất lượng cao nhất, đáp ứng mọi nhu cầu của khách hàng.</p>

                </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi thực sự ấn tượng với chất lượng sản phẩm tại cửa hàng. Bộ sofa
                                                góc mà tôi vừa mua không chỉ có thiết kế hiện đại, tinh tế mà còn vô
                                                cùng thoải mái. Chất liệu da thật êm ái, đường may tỉ mỉ, xứng đáng với
                                                từng đồng tiền bỏ ra. Cảm ơn cửa hàng đã mang đến cho gia đình tôi một
                                                không gian sống đẳng cấp!&rdquo;</p>

                                            </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="./assets/images/person-1.png" alt="Maria Jones"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Phan Việt Nam</h3>
                                            <span class="position d-block mb-3">CEO, Co-Founder.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="section-title">Bài viết nổi bật</h2>
            </div>
            <div class="col-md-6 text-start text-md-end">
                <a href="#" class="more">Xem tất cả</a>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-1.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Ý tưởng cho người mua nhà lần đầu.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Diệp Lai</a></span> <span> on <a href="#">Dec 19, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-2.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Cách Giữ Gỗ Nội Thất Luôn Sạch Sẽ.

                        </a></h3>



                        <div class="meta">
                            <span>by <a href="#">Huỳnh Kha</a></span> <span> on <a href="#">Dec 15, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-3.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Giải pháp nội thất cho không gian sống nhỏ.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Yến Phương</a></span> <span> on <a href="#">Dec 12, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Blog Section -->