<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Tin tức</h1>
                    <p class="mb-4">Furni. là nơi bạn tìm thấy những câu chuyện thú vị, những bài viết ý nghĩa và những góc nhìn đa dạng về cuộc sống. Chúng tôi luôn lắng nghe và thấu hiểu nhu cầu của bạn để mang đến những nội dung phù hợp nhất..</p>
                    <p><a href="" class="btn btn-secondary me-2">Mua ngay</a><a href="#"
                            class="btn btn-white-outline">Khám phá ngay</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="./assets/images/couch.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">

       
        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-1.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Ý tưởng cho người mua nhà lần đầu.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Diệp Lai</a></span> <span> on <a href="#">Dec 19, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-2.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Cách Giữ Gỗ Nội Thất Luôn Sạch Sẽ.

                        </a></h3>



                        <div class="meta">
                            <span>by <a href="#">Huỳnh Kha</a></span> <span> on <a href="#">Dec 15, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-3.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Giải pháp nội thất cho không gian sống nhỏ.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Yến Phương</a></span> <span> on <a href="#">Dec 12, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- row2 -->

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-1.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Ý tưởng cho người mua nhà lần đầu.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Diệp Lai</a></span> <span> on <a href="#">Dec 19, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-2.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Cách Giữ Gỗ Nội Thất Luôn Sạch Sẽ.

                        </a></h3>



                        <div class="meta">
                            <span>by <a href="#">Huỳnh Kha</a></span> <span> on <a href="#">Dec 15, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-3.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Giải pháp nội thất cho không gian sống nhỏ.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Yến Phương</a></span> <span> on <a href="#">Dec 12, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- row3 -->
            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-1.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Ý tưởng cho người mua nhà lần đầu.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Diệp Lai</a></span> <span> on <a href="#">Dec 19, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-2.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Cách Giữ Gỗ Nội Thất Luôn Sạch Sẽ.

                        </a></h3>



                        <div class="meta">
                            <span>by <a href="#">Huỳnh Kha</a></span> <span> on <a href="#">Dec 15, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="./assets/images/post-3.jpg" alt="Image"
                            class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Giải pháp nội thất cho không gian sống nhỏ.</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Yến Phương</a></span> <span> on <a href="#">Dec 12, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- End Blog Section -->



<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Làm hài lòng khách hàng là sứ mệnh</h2>
                <p>Chúng tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu. Vì vậy, chúng tôi luôn nỗ lực không ngừng
                    để mang đến những sản phẩm/dịch vụ chất lượng cao nhất, đáp ứng mọi nhu cầu của khách hàng.</p>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi thực sự ấn tượng với chất lượng sản phẩm tại cửa hàng. Bộ sofa
                                                góc mà tôi vừa mua không chỉ có thiết kế hiện đại, tinh tế mà còn vô
                                                cùng thoải mái. Chất liệu da thật êm ái, đường may tỉ mỉ, xứng đáng với
                                                từng đồng tiền bỏ ra. Cảm ơn cửa hàng đã mang đến cho gia đình tôi một
                                                không gian sống đẳng cấp!&rdquo;</p>

                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="./assets/images/person-1.png" alt="Maria Jones"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Phan Việt Nam</h3>
                                            <span class="position d-block mb-3">CEO, Co-Founder.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->