<!-- Start Hero Section -->
<a routerLink="/about"></a>
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Về chúng tôi</h1>
                    <p class="mb-4">Tại Furni. chúng tôi tin rằng ngôi nhà là nơi nuôi dưỡng tâm hồn. Với niềm đam mê cháy bỏng với thiết kế nội thất, chúng tôi cam kết mang đến cho khách hàng những không gian sống đẹp, tiện nghi và độc đáo. Mỗi sản phẩm của chúng tôi đều được tạo ra từ sự tỉ mỉ và tâm huyết, nhằm đáp ứng những yêu cầu khắt khe nhất của khách hàng.</p>
                    <p><a href="" class="btn btn-secondary me-2">Mua ngay</a><a href="#"
                            class="btn btn-white-outline">Khám phá ngay</a></p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="./assets/images/couch.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Tại sao lại chọn cúng tôi?</h2>
                <p>Trải nghiệm sự thoải mái tuyệt đối với bộ bàn ghế giường cao cấp. Sản phẩm được làm từ chất liệu gỗ
                    tự nhiên, kết hợp với đệm mút cao cấp, mang đến cảm giác êm ái và thư giãn. Thiết kế hiện đại, tinh
                    tế, phù hợp với mọi không gian sống. Chúng tôi cam kết mang đến cho bạn những sản phẩm chất lượng

                    tốt nhất và dịch vụ hoàn hảo nhất.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Nhanh chóng &amp; Miễn phí</h3>
                            <p>Dịch vụ giao hàng của chúng tôi sẽ mang sản phẩm đến tận tay trong thời gian ngắn nhất.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Mua hàng dễ dàng</h3>
                            <p> Chỉ cần vài thao tác đơn giản, bạn đã có thể sở hữu sản phẩm yêu thích.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Đội ngũ hỗ trợ khách hàng của chúng tôi luôn sẵn sàng phục vụ bạn mọi lúc, mọi nơi.
                            </p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="./assets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hoàn trả dễ dàng</h3>
                            <p>Hoàn trả đơn giản, nhanh chóng. Liên hệ chúng tôi trong vòng 30 ngày để được hỗ trợ.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="./assets/images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start Team Section -->
<div class="untree_co-section">
    <div class="container">

        <div class="row mb-5">
            <div class="col-lg-5 mx-auto text-center">
                <h2 class="section-title">Our Team</h2>
            </div>
        </div>

        <div class="row">

            <!-- Start Column 1 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="./assets/images/person_1.jpg" class="img-fluid mb-5">
                <h3 clas><a href="#"><span class="">Diệp</span> Lai</a></h3>
                <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                <p>Diệp Lai là một người đàn ông mạnh mẽ. Với đôi mắt sâu thẳm và vẻ ngoài lạnh lùng, anh ta thường khiến người khác cảm thấy khó gần. Tuy nhiên, bên trong anh là một trái tim ấm áp và luôn sẵn sàng bảo vệ những người mình yêu thương. Đức Lai sở hữu một trí tuệ sắc sảo và khả năng lãnh đạo xuất sắc.
                </p>
                <p class="mb-0"><a href="#" class="more dark">Tìm hiểu thêm <span class="icon-arrow_forward"></span></a>
                </p>
            </div>
            <!-- End Column 1 -->

            <!-- Start Column 2 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="./assets/images/person_2.jpg" class="img-fluid mb-5">

                <h3 clas><a href="#"><span class="">Gia</span> Phát</a></h3>
                <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                <p>Gia Phát là một chàng trai trẻ đầy nhiệt huyết và năng lượng. Anh ta luôn tràn đầy ý tưởng mới lạ và không ngại thử thách bản thân. Với nụ cười rạng rỡ và tính cách cởi mở, Gia Phát dễ dàng kết bạn với mọi người. Anh ta là một người bạn đáng tin cậy và luôn sẵn sàng giúp đỡ người khác.

                </p>
                <p class="mb-0"><a href="#" class="more dark">Tìm hiểu thêm <span class="icon-arrow_forward"></span></a>
                </p>

            </div>
            <!-- End Column 2 -->

            <!-- Start Column 3 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="./assets/images/person_3.jpg" class="img-fluid mb-5">
                <h3 clas><a href="#"><span class="">Trung</span> Kiên</a></h3>
                <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                <p>Trung Kiên là một cậu bé hiếu động và nghịch ngợm. Cậu ta luôn tràn đầy năng lượng và thích khám phá thế giới xung quanh. Với mái tóc xoăn tít và đôi mắt sáng long lanh, Trung Kiên luôn thu hút sự chú ý của mọi người. Cậu ta là một người bạn đồng hành vui vẻ và luôn mang đến tiếng cười cho mọi người.
                </p>
                <p class="mb-0"><a href="#" class="more dark">Tìm hiểu thêm <span class="icon-arrow_forward"></span></a>
                </p>
            </div>
            <!-- End Column 3 -->

            <!-- Start Column 4 -->
            <div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
                <img src="./assets/images/person_4.jpg" class="img-fluid mb-5">

                <h3 clas><a href="#"><span class="">Ngọc</span> Duy</a></h3>
                <span class="d-block position mb-4">CEO, Founder, Atty.</span>
                <p>Ngọc Duy là một cô gái thông minh, nhạy cảm và có chút trầm tư. Là một cô gái mạnh mẽ, cá tính, cô ấy sở hữu một trí tưởng tượng phong phú và thường đắm mình trong thế giới sách vở. Ngọc Duy là một người yêu thích sự yên tĩnh và luôn tìm kiếm những điều mới lạ để khám phá.
                </p>
                <p class="mb-0"><a href="#" class="more dark">Tìm hiểu thêm <span class="icon-arrow_forward"></span></a>
                </p>


            </div>
            <!-- End Column 4 -->



        </div>
    </div>
</div>
<!-- End Team Section -->


<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Làm hài lòng khách hàng là sứ mệnh</h2>
                <p>Chúng tôi luôn đặt sự hài lòng của khách hàng lên hàng đầu. Vì vậy, chúng tôi luôn nỗ lực không ngừng
                    để mang đến những sản phẩm/dịch vụ chất lượng cao nhất, đáp ứng mọi nhu cầu của khách hàng.</p>

                </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Tôi thực sự ấn tượng với chất lượng sản phẩm tại cửa hàng. Bộ sofa
                                                góc mà tôi vừa mua không chỉ có thiết kế hiện đại, tinh tế mà còn vô
                                                cùng thoải mái. Chất liệu da thật êm ái, đường may tỉ mỉ, xứng đáng với
                                                từng đồng tiền bỏ ra. Cảm ơn cửa hàng đã mang đến cho gia đình tôi một
                                                không gian sống đẳng cấp!&rdquo;</p>

                                            </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="./assets/images/person-1.png" alt="Maria Jones"
                                                    class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Phan Việt Nam</h3>
                                            <span class="position d-block mb-3">CEO, Co-Founder.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->
