<div class="body-register">
    <div class="container-register">
        <h2 class="text-center mt-5">Đăng Ký</h2>
        <form class="mt-4">
            <div class="form-group">
                <label for="username">Tên Đăng Nhập:</label>
                <input type="text" class="form-control" id="username" placeholder="Nhập tên đăng nhập" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Nhập email" required>
            </div>
            <div class="form-group">
                <label for="password">Mật Khẩu:</label>
                <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Xác Nhận Mật Khẩu:</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Nhập lại mật khẩu" required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Đăng Ký</button>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
